<!DOCTYPE html>
<html>
  <head>
    <title>Cadastro de Clientes</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="photon/css/photon.css" />
    <link rel="stylesheet" href="css/style.css" />

    <!-- Electron Javascript -->
<!--    <script src="app.js" charset="utf-8"></script>-->
  </head>
  <body>
    <div class="window">
        <header class="toolbar toolbar-header">
            <h1 class="title">Sistema de Cadastro de Clientes</h1>
            <div class="toolbar-actions">
                <div class="btn-group">
                  <button class="btn btn-default">
                    <span class="icon icon-home"></span>
                  </button>
                  <button class="btn btn-default">
                    <span class="icon icon-folder"></span>
                  </button>
                  <button class="btn btn-default active">
                    <span class="icon icon-cloud"></span>
                  </button>
                  <button class="btn btn-default">
                    <span class="icon icon-popup"></span>
                  </button>
                  <button class="btn btn-default">
                    <span class="icon icon-shuffle"></span>
                  </button>
                </div>
        </header>
      <div class="window-content">
        <div class="pane-group">
          <div class="pane-sm sidebar">
              <nav class="nav-group">
                  <h5 class="nav-group-title">Eduardo Alexandre</h5>
                  <a class="nav-group-item active">
                    <span class="icon icon-home"></span>
                    Cadastrar
                  </a>
                  <span class="nav-group-item">
                    <span class="icon icon-download"></span>
                    Consultar
                  </span>
                  <span class="nav-group-item">
                    <span class="icon icon-folder"></span>
                    Documentos
                  </span>
                  <span class="nav-group-item">
                    <span class="icon icon-signal"></span>
                    AirPlay
                  </span>
                  <span class="nav-group-item">
                    <span class="icon icon-print"></span>
                    Applications
                  </span>
                  <span class="nav-group-item">
                    <span class="icon icon-cloud"></span>
                    Desktop
                  </span>
                </nav>
          </div>
          <div class="pane">
            <!--FORMULÁRIO DE CADASTRO-->
            <button type="button" @click="createClient()" class="btn btn-large btn-primary">Novo Cliente</button>
            <a href="produtos.html" class="btn btn-large btn-default">Produtos</a>
              <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Nome</th>
                      <th>Telefone</th>
                      <th>Bairro</th>
                      <th>Serviço</th>
                      <th>Produto</th>
                      <th>Observações</th>
                      <th>Ações</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="cliente in clientes">
                      <td>{{cliente.nome}}</td>
                      <td>{{cliente.tel}}</td>
                      <td>{{cliente.bairro}}</td>
                      <td>{{cliente.servico}}</td>
                      <td>{{cliente.produto}}</td>
                      <td>{{cliente.obs}}</td>
                      <td><button class="btn btn-warning" @click="editClient(cliente)">Editar</button></td>
                    </tr>
                  </tbody>
              </table>
          </div>
        </div>
      </div>
      <footer class="toolbar toolbar-footer">
          <h1 class="title">Desenvolvido por CTk Soluções em TI</h1>
        </footer>
    </div>
    <!-- //Modal de Cadastrar -->
    <div id="modal" v-if="openModal">
      <div class="wrap">
          <form id="cad-cliente" action="" class="pane-body">
              <h2 v-if="mode=='cadastro'">Cadastrar Novo Cliente</h2>
              <h2 v-if="mode=='edicao'">Editar Cliente</h2>
              <div class="form-group">
                <input type="text" class="form-control" id="nome" v-model="client.nome" placeholder="Nome" />
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="tel" v-model="client.tel" placeholder="Telefone" />
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="bairro" v-model="client.bairro" placeholder="Bairro" />
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="servico" v-model="client.servico" placeholder="Serviço" />
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="produto" v-model="client.produto" placeholder="Produto" />
              </div>
              <div class="form-group">
                <textarea class="form-control" id="obs" v-model="client.obs" placeholder="Observações:" rows="5"></textarea>
              </div>
              <button type="button" @click="clientStoreOrUpdate" class="btn btn-large btn-positive">SALVAR</button>
              <button type="button" id="cancelar" class="btn btn-large btn-negative" @click="openModal=false">FECHAR</button>
          </form>
      </div>
    </div>
  </body>
  <script> 
  let read = require('read-file-utf8') 
  let loki = require('lokijs')
  let db = new loki('db.json')
  let data = read(__dirname+'/db.json') 
  db.loadJSON(data) 
  window.Vue = require('vue') 
  let clientes = db.getCollection('clientes') 
  console.log(db) 
  new Vue({ 
    el: 'body', 
    data:{ 
        clientes:[],
        mode:'',
        client:{
          nome:'',
          tel:'',
          bairro:'',
          servico:'',
          produto:'',
          obs:''
        },
        openModal:false 
      }, 
    ready: function (){ 
      this.clientes = clientes.data 
      },
      //Editar Clientes
      methods:{
        editClient:function(client){
          this.mode='edicao'
          this.openModal=true
          this.client=client
        },
      //Cadastrar Clientes 
        createClient:function(){
          this.mode="cadastro"
          this.openModal=true
          this.client={//Iniciar formulário em branco
            nome:'',
            tel:'',
            bairro:'',
            servico:'',
            produto:'',
            obs:''
        }
        },
        //Inserir dados no DB 
        clientStoreOrUpdate: function(){
          if(typeof this.client.$loki != 'undefined'){
            clientes.update(this.client)
          }else{
            clientes.insert(this.client)
          }
          db.save()
          this.openModal=false
        }
      } 
    }) 
    </script>
</html>